<div class="content-wrapper">
  <mat-card class="list-card">
    <mat-card-header class="header-list">
      <mat-card-title>Gestão de Empresas</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content class="main-content">
      <div class="management-container">
        <div class="top-row">
          <button mat-flat-button color="primary" (click)="irParaCadastro()">
            <mat-icon>add</mat-icon> NOVA EMPRESA
          </button>
          <button
            mat-flat-button
            color="warn"
            (click)="emitirExcluir()"
            [disabled]="!selection.hasValue()"
            *ngIf="selection.hasValue()"
          >
            <mat-icon>delete</mat-icon> EXCLUIR ({{
              selection.selected.length
            }})
          </button>
        </div>
        <div class="filter-section">
          <div class="filter-grid">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Nome</mat-label>
              <input
                matInput
                [(ngModel)]="filterValues.name"
                name="name"
                placeholder="Filtrar por nome"
              />
              <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>CNPJ</mat-label>
              <input
                matInput
                [mask]="'00.000.000/0000-00'"
                [(ngModel)]="filterValues.cnpj"
                name="cnpj"
                placeholder="00.000.000/0000-00"
              />
              <mat-icon matPrefix>assignment_ind</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Nome Corporativo</mat-label>
              <input
                matInput
                [(ngModel)]="filterValues.corporateName"
                name="name"
                placeholder="Filtrar por nome corporativo"
              />
              <mat-icon matPrefix>business</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Nome Fantasia</mat-label>
              <input
                matInput
                [(ngModel)]="filterValues.fantasyName"
                name="name"
                placeholder="Filtrar por nome fantasia"
              />
              <mat-icon matPrefix>store</mat-icon>
            </mat-form-field>
          </div>
          <div class="filter-actions-row">
            <button mat-button (click)="limparFiltros()">
              <mat-icon>restart_alt</mat-icon> Limpar
            </button>
            <button mat-flat-button color="primary" (click)="emitirFiltro()">
              <mat-icon>filter_alt</mat-icon> Filtrar
            </button>
          </div>
        </div>
        <div class="table-container mat-elevation-z2">
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            class="full-width-table"
          >
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                >
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                >
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
              <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <ng-container matColumnDef="corporateName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Nome Corporativo
              </th>
              <td mat-cell *matCellDef="let row">{{ row.corporateName }}</td>
            </ng-container>

            <ng-container matColumnDef="fantasyName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Nome Fantasia
              </th>
              <td mat-cell *matCellDef="let row">{{ row.fantasyName }}</td>
            </ng-container>
            <ng-container matColumnDef="cnpj">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</th>
              <td mat-cell *matCellDef="let row">{{ row.cnpj }}</td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Telefone
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.phone | mask: "(00) 0000-0000||(00) 00000-0000" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
              <td mat-cell *matCellDef="let row">{{ row.email }}</td>
            </ng-container>

            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cidade</th>
              <td mat-cell *matCellDef="let row">{{ row.city }}</td>
            </ng-container>

            <ng-container matColumnDef="uf">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>UF</th>
              <td mat-cell *matCellDef="let row">{{ row.uf }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef style="text-align: center">
                Ações
              </th>
              <td mat-cell *matCellDef="let row" style="text-align: center">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="editarEmpresa(row)"
                  matTooltip="Editar"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
